NODE_ENV=development
PORT=3535

# DB SERVER
DB_HOST=XXXX
DB_USERNAME=XXXX
DB_PASSWORD=XXXX
DB_DATABASE=XXXX
DB_PORT=XXXX

# JWT
JWT_SECRET=XXXX
JWT_EXPIRES_IN=7d

# CLOUDINARY CREDENTIAL
CLOUDINARY_NAME=XXXX
CLOUDINARY_API_KEY=XXXX
CLOUDINARY_API_SECRET=XXXX


# SMTP CREDENTIAL
SMTP_SERVICE=XXXX
SMTP_HOST=XXXX
SMTP_PORT=XXXX
SMTP_MAIL=XXXX
SMTP_PASSWORD=XXXX

# APP URL
FRONTEND_URL=XXXX
APP_URL=XXXX

# STRIPE CREDENTIAL 
STRIPE_PUBLISHABLE_KEY=XXXX
STRIPE_SECRET_KEY=XXXX
STRIPE_WEBHOOK_SECRET=XXXX

# PAYPAL
PAYPAL_CLIENT_ID=XXXX
PAYPAL_CLIENT_SECRET=XXXX
